<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Reelz To Reelz</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
	<center>
	<%= yield %>
</center>
</body>
</html>